# import the dataset

In [7]:
import pandas as pd

# Read the dataset

In [9]:
movies=pd.read_csv(r'H:\DATA SCIENCE- Kodi Prakash Senapthi\data science projt\archive\movie.csv')

In [11]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [13]:
tags=pd.read_csv(r'H:\DATA SCIENCE- Kodi Prakash Senapthi\data science projt\archive\tag.csv')

In [14]:
tags

        userId  movieId            tag            timestamp
0           18     4141    Mark Waters  2009-04-24 18:19:40
1           65      208      dark hero  2013-05-10 01:41:18
2           65      353      dark hero  2013-05-10 01:41:19
3           65      521  noir thriller  2013-05-10 01:39:43
4           65      592      dark hero  2013-05-10 01:41:18
...        ...      ...            ...                  ...
465559  138446    55999        dragged  2013-01-23 23:29:32
465560  138446    55999  Jason Bateman  2013-01-23 23:29:38
465561  138446    55999         quirky  2013-01-23 23:29:38
465562  138446    55999            sad  2013-01-23 23:29:32
465563  138472      923  rise to power  2007-11-02 21:12:47

[465564 rows x 4 columns]

In [17]:
ratings = pd.read_csv(r'H:\DATA SCIENCE- Kodi Prakash Senapthi\data science projt\archive\rating.csv')

In [18]:
ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [19]:
print(movies.shape)
print(tags.shape)
print(ratings.shape)

(27278, 3)
(465564, 4)
(20000263, 4)

In [20]:
print(movies.columns)
print(tags.columns)
print(ratings.columns)

Index(['movieId', 'title', 'genres'], dtype='object')
Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

# Remove Timestamp

In [22]:
del tags['timestamp']
del ratings['timestamp']

In [23]:
print(movies.columns)
print(tags.columns)
print(ratings.columns)

Index(['movieId', 'title', 'genres'], dtype='object')
Index(['userId', 'movieId', 'tag'], dtype='object')
Index(['userId', 'movieId', 'rating'], dtype='object')

In [24]:
tags.head(3)

   userId  movieId          tag
0      18     4141  Mark Waters
1      65      208    dark hero
2      65      353    dark hero

In [25]:
# iloc means index location

In [26]:
tags.iloc[0]

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [27]:
tags.iloc[2]

userId            65
movieId          353
tag        dark hero
Name: 2, dtype: object

In [28]:
row_0=tags.iloc[0]

In [29]:
print(row_0)

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [30]:
type(row_0)

pandas.core.series.Series

In [31]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [32]:
print(row_0.columns)

AttributeError: 'Series' object has no attribute 'columns'

In [50]:
row_0['userId']

18

In [52]:
'rating' in row_0

False

In [54]:
row_0.name

0

# Dataframes

In [56]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [58]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [60]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [62]:
tags.iloc[ [0,11,500] ]

     userId  movieId                tag
0        18     4141        Mark Waters
11       65     1783      noir thriller
500     342    55908  entirely dialogue

# Descriptive Statistics

In [64]:
ratings

          userId  movieId  rating
0              1        2     3.5
1              1       29     3.5
2              1       32     3.5
3              1       47     3.5
4              1       50     3.5
...          ...      ...     ...
20000258  138493    68954     4.5
20000259  138493    69526     4.5
20000260  138493    69644     3.0
20000261  138493    70286     5.0
20000262  138493    71619     2.5

[20000263 rows x 3 columns]

In [66]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [68]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [69]:
ratings['rating'].mean()

3.5255285642993797

In [72]:
ratings['rating'].max()

5.0

In [74]:
ratings.mean()

userId     69045.872583
movieId     9041.567330
rating         3.525529
dtype: float64

In [76]:
ratings['rating'].min()

0.5

In [78]:
ratings['rating'].max()

5.0

In [80]:
ratings['rating'].std()

1.051988919275684

In [82]:
ratings['rating'].mode()

0    4.0
Name: rating, dtype: float64

In [84]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.000850  0.001175
movieId -0.000850  1.000000  0.002606
rating   0.001175  0.002606  1.000000

In [86]:
filter1=ratings['rating']>10
print(filter1)
filter1.any()

0           False
1           False
2           False
3           False
4           False
            ...
20000258    False
20000259    False
20000260    False
20000261    False
20000262    False
Name: rating, Length: 20000263, dtype: bool

False

In [88]:
filter2=ratings['rating']>0
print(filter2)

0           True
1           True
2           True
3           True
4           True
            ...
20000258    True
20000259    True
20000260    True
20000261    True
20000262    True
Name: rating, Length: 20000263, dtype: bool

In [90]:
filter2.all()

True

# data cleaning and handling Missing data

In [92]:
movies.shape

(27278, 3)

In [94]:
movies.isnull().any().any()

False

In [96]:
ratings.shape

(20000263, 3)

In [98]:
ratings.isnull().any().any()

False

In [100]:
tags.shape

(465564, 3)

In [102]:
tags.isnull().any().any()

True

In [104]:
tags=tags.dropna()

In [106]:
tags.isnull().any().any()

False

# Data Visualization

In [124]:
%matplotlib inline

ratings.hist(column='rating', figsize=(10,5))

array([[<Axes: title={'center': 'rating'}>]], dtype=object)

In [125]:
ratings.boxplot(column='rating', figsize=(10,5))

# Slicing Out Columns

In [123]:
tags

        userId  movieId            tag
0           18     4141    Mark Waters
1           65      208      dark hero
2           65      353      dark hero
3           65      521  noir thriller
4           65      592      dark hero
...        ...      ...            ...
465559  138446    55999        dragged
465560  138446    55999  Jason Bateman
465561  138446    55999         quirky
465562  138446    55999            sad
465563  138472      923  rise to power

[465548 rows x 3 columns]

In [129]:
tags['tag'].head()

0      Mark Waters
1        dark hero
2        dark hero
3    noir thriller
4        dark hero
Name: tag, dtype: object

In [132]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [134]:
movies[['title','genres']].head()

,title,genres
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),Adventure|Children|Fantasy
2,Grumpier Old Men (1995),Comedy|Romance
3,Waiting to Exhale (1995),Comedy|Drama|Romance
4,Father of the Bride Part II (1995),Comedy

In [136]:
ratings[-10:]

          userId  movieId  rating
20000253  138493    60816     4.5
20000254  138493    61160     4.0
20000255  138493    65682     4.5
20000256  138493    66762     4.5
20000257  138493    68319     4.5
20000258  138493    68954     4.5
20000259  138493    69526     4.5
20000260  138493    69644     3.0
20000261  138493    70286     5.0
20000262  138493    71619     2.5

In [142]:
tag_counts = tags['tag'].value_counts()
tag_counts

tag
sci-fi                           3384
based on a book                  3281
atmospheric                      2917
comedy                           2779
action                           2657
                                 ...
Paul Adelstein                      1
the wig                             1
killer fish                         1
genetically modified monsters       1
topless scene                       1
Name: count, Length: 38643, dtype: int64

In [144]:
tag_counts = tags['tag'].value_counts()
tag_counts[-10:]

tag
missing child                    1
Ron Moore                        1
Citizen Kane                     1
mullet                           1
biker gang                       1
Paul Adelstein                   1
the wig                          1
killer fish                      1
genetically modified monsters    1
topless scene                    1
Name: count, dtype: int64

In [146]:
tag_counts[:10].plot(kind='bar', figsize=(10,5))

In [148]:
tag_counts[:10]

tag
sci-fi             3384
based on a book    3281
atmospheric        2917
comedy             2779
action             2657
surreal            2427
BD-R               2334
twist ending       2323
funny              2072
dystopia           1991
Name: count, dtype: int64

In [150]:
data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5])
value_counts = data.value_counts()
filtered_counts = value_counts[value_counts > 2]
print(filtered_counts)

4    4
3    3
Name: count, dtype: int64